<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embalses App - Búsqueda por Geolocalización</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Buscar Embalses Cercanos</h1>
        <button id="fetchEmbalsesBtn">Obtener Embalses Cercanos</button>
        <div id="embalsesList"></div>
        <button onclick="window.location.href='index'">Volver al Inicio</button>
    </div>
    <script src="static/script.js"></script>
</body>
</html>