<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embalses App - Inicio</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Embalses App</h1>
        <p>Selecciona una opción para comenzar:</p>
        <button onclick="window.location.href='geolocalizacion'">Buscar Embalses Cercanos</button>
        <button onclick="window.location.href='provincia'">Buscar por Provincia</button>
    </div>
</body>
</html>