<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embalses App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Embalses App</h1>
        <nav>
            <a href="index">Inicio</a>
            <a href="geolocalizacion">Buscar Embalses Cercanos</a>
            <a href="provincia">Buscar por Provincia</a>
        </nav>
        <label class="switch">
            <input type="checkbox" id="themeToggle">
            <span class="slider round"></span>
        </label>
    </header>

    <div class="container">
        <h2>Bienvenido a la Embalses App</h2>
        <p>Selecciona una opción para comenzar:</p>
        <a href="geolocalizacion" class="button">Buscar Embalses Cercanos</a>
        <a href="provincia" class="button">Buscar por Provincia</a>
    </div>

    <footer>
        <p>&copy; 2024 Embalses App. Todos los derechos reservados.</p>
    </footer>

    <script src="static/script.js"></script>
</body>
</html>